

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
html {
    scroll-behavior: smooth;
  }

@font-face {
    font-family: query ;
    src: url(./fuentes/Querygrand.ttf);
}
@font-face {
    font-family: who ;
    src: url(./fuentes/Whoduck.ttf);
}
@font-face {
    font-family: kome ;
    src: url(./fuentes/Komersie.ttf);
}


body {
    background-color:yellow;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    background-color: white;
    max-width: 1200px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    box-shadow: 5px 8px 12px #000;
    z-index: 1000;
    height: 80px;
}
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    bottom: 40px;
    right: 20px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 4px 4px #000;
    z-index: 999;
}

.fa-whatsapp {
    font-size: 60px;
}
.float:hover {
    color: #000;
}
.subir {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: yellow;
    bottom: 110px;
    right: 20px;
    border-radius: 50px;
    color: #816594;
    text-align: center;
    box-shadow: 2px 4px 4px #000;
    z-index: 999;
}
.fa-chevron-up {
    font-size: 60px;
}
.subir:hover {
    color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nombre a {
    font-family: who;
    font-size: 40px;
    text-decoration: none;
    color: #000;
}
.nombre span {

    font-size: 60px;
    color:deepskyblue;
    
}
.navbar .nav-links ul li {
    float: left;
    position: relative;
}
.navbar .nav-links ul li a {
    font-size: 25px;
    font-family: who;
    color: #000;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .3s ease;
}
.navbar .nav-links ul li a:hover {
    background-color: yellow;
    
}
.navbar .nav-links ul li:hover > ul {
    display: initial;
}
#toggle,
header label {
    display: none;
    cursor: pointer;
}
.menu {
    width: 45px;
    height: 35px;
}

.logo-1 {
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.logo-1:hover {
    transform: scale(1.8);
}


.navbar {
    display: flex; 
}
.jumbotron {
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.562) , rgba(255, 255, 255, 0.5)), url(./assent/gloves-5155220_640.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    border-radius: 20px;
    text-shadow: 0 0 5px #000;
    text-align: center;
    box-shadow: 5px 8px 12px #000;
    
}
.jumbotron h1 {
    font-family: who ;
    font-size: 50px;
    color: white;
   
} 
.jumbotron p {
    font-family: who;
    font-size: 30px;
    color: white;  
}
.productos {
    background-color: white;
    margin-top: 30px;
    height: 500px;
}
.titulo {
    height: 70px;
}
.titulo h2 {
    font-family: who ;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 20px;
}
.productos {
    border-radius: 20px;
    box-shadow: 5px 8px 12px #000;
}
.list-products {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(300px ,100%),1fr));
    gap: 30px;
    padding: 30px;
}

.product {
    box-shadow: 5px 8px 12px #000;
    height: 350px;
    
}
.product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(5px);
    transition: all 0.5s linear;
    transition: 0.3s;
}
.product img:hover {
    transform: scale(1.1);
    filter:blur(0);
}
.product p {
    color:yellow;
    font-family: kome ;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    bottom: 50%;
    left: 40px;
}
.product a {
    text-decoration: none;
    text-shadow: 0 5px 10px #000;
}
.SobreNosotros {
    background-color: white;
    margin-top: 30px;
    height: 450px;
    box-shadow: 5px 8px 12px #000;
    border-radius: 20px;
}
.video h2 {
    font-family: who ;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 20px;
}
.youtube {
    float: left;
    margin: 30px;
    border-radius: 10%;
    filter:grayscale(0);
    transition: all 0.3s linear;
}
.youtube:hover {
    filter:grayscale(20);
}
.video p {
    font-family: who;
    font-size: 25px;
    color: black;  
    margin-top: 30px;
    padding: 10px 5px;
}
.contactos {
    background-color: black;
    margin-top: 30px;
    height: 300px;
    box-shadow: 5px 8px 12px gray;
    border-radius: 20px;
}
.horario h2 {
    font-family: who ;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 110px;
    position: relative;
    top: 20px;
    left: 40px;
    padding: 10px;
    color: white;
}
.horario {
    display: flex;
}
.datos{
    margin-top: 50px;
    position: relative;
    left: 150px;
    
}
.horario h3 {
    font-family: who;
    font-size: 30px;
    font-weight: 400;
    color: white;
}
.horario h4 {
    font-family: who;
    font-size: 30px;
    color: #fff;
}
.horario p {
    font-family: who;
    font-size: 30px;
    color: #fff;
}
.img-telefono {
    height: 200px;
    width: auto;
    margin-top: 50px;
    position: relative;
    left: 80px;
}
.mapa {
    filter: grayscale(100%) invert(92%) contrast(93%);
    margin-top: 30px;
}
footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.562) , rgba(255, 255, 255, 0.5)), url(./assent/baldes-gel.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 8px 12px #000;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    
    
}
.foo {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 0 30px;
    align-items: center;
    text-align: center;
}
.envios h4 {
    font-size: 25px;
    font-family: who;
    font-weight: 400;
    text-shadow: 0 0 5px #fff;
}
.envios a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
.envios a:hover{
    filter:blur(1px);
}
.tru:hover{
    color: firebrick;
}
.pagos {
    font-family: who;
    font-weight: 400;
    text-shadow: 0 0 5px #fff;
}
.pagos h4 {
    font-size: 25px;
    text-shadow: 0 0 5px #fff;
}
.pagos p {
    font-weight: 400;
    font-size: 20px;
    margin: 20px;
    
}
.redes .social{
    display: inline;
    font-size: 25px;
    margin: 20px;
}
.social a {
    text-decoration: none;
    color: #000;
    transition:0.3s;
}

.face:hover {
    color: blue;
    transform: scale(1.3);
}
.what:hover{
    color: green;
    transform: scale(1.3);
}
.ins:hover {
    color: blueviolet;
    transform: scale(1.3);
}
.termino {
    display: flex;
    justify-content: center;
    font-family: who;
    font-size: 20px;
    position: relative;
    bottom: 50px;
    text-shadow: 0 0 5px #fff;
}
.nota {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: #000;
    position: relative;
    left: 0px;
    top: 5px;
    text-transform: uppercase;
}
@media(max-width:950px){
    header label {
        display: initial;
        font-size: 25px;
        margin-top: 20px;
        
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color:white;
        display: none;
    }
    header .navbar ul li {
        width: 100%;
    }
  
    #toggle:checked ~ .navbar{
        display: block;
        padding: 0;
    }
    header .nombre {
        display: none;
    }
    .jumbotron h1 {
        font-size: 35px;
        margin: 20px;
    }
    .jumbotron p {
        font-size: 20px;
        margin-top: 10px;
    }
    .productos h2 {
        font-size: 35px;

    }
    .list-products {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(min(150px, 100%), 1fr));
        gap: 16px;

    }
    .product img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: blur(0px);
        transition: all 0s linear;
        transition: 0.3s;
    }
    .product img:hover {
        transform: scale(1.1);
        filter:blur(0);
    }
    .SobreNosotros {
        height: 750px;
    }
    .SobreNosotros h2 {
        font-size: 35px;
    }
    .SobreNosotros .youtube {
        float: initial;
        height: 300px;
        width: 80%;
        padding-left: 20px;
    }
    .SobreNosotros .video p {
        font-size: 19px;
        margin-top: 0px;
        margin: 0px 15px;
    }
    .contactos {
        height: 450px;
    }
    .contactos .horario h2 {
        font-size: 35px;
        font-weight: 400;
        margin-top: 0px;
        margin-right: 60px;
    }
    .horario {
        display: block;
    }
    .horario .foto img {
        height: 150px;
        width: auto;
        margin-left: 50px;
    }
    .img-telefono {
        margin: 15px;
    }
    .datos {
        margin: 20px;
        left: 30px;
    }
    .horario .datos h3 {
        font-size: 25px;
    }
    .horario .datos h4 {
        font-size: 20px;
    }
    .horario .datos p {
        font-size: 20px;
    }
    footer {
        height: 500px;
        width: 100%;
    }
    .foo {
        display: inline;
        padding: 5px;
        margin: 0 15px;
    }
    .envios h4 {
        font-size: 30px;
        color: #000;
    }
    .envios a {
        color:floralwhite;
    }
    .redes {
        margin: 40px;
    }
    .redes .social i {
        display: inline;
        font-size: 40px;
        margin: 20px;
        color: #000;
    }
    .pagos {
        display: inline;
    }
    .pagos p {
        font-size: 20px;
        color: #000;
    }
    .pagos a {
        text-decoration: none;
        color: #000;

    }
    .termino {
        font-size: 15px;
        padding-top: 20px;
    }
}

@media only screen and (min-width:360px) and (max-width: 600px){
    
    header {
        width: auto;
        position: relative;
        right: 80px;
        margin: 0px;
    }
    .productos {
        height: 950px;
    }
    .list-products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(360px ,100%),1fr));

    }
    .product img {
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    .product {
        height: 250px;
        width: auto;
    }
    .product p {
        color:yellow;
        font-family: kome ;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        bottom: 60%;
        left: 40px;    
    }
    .youtube {
        display: block;
        margin: 30px;
        border-radius: 0%;
        filter:grayscale(0);
        transition: all 0.3s linear;
    }
    .youtube:hover {
        filter:grayscale(20);
    }
    .SobreNosotros {
        height: 900px;
    }
    .contactos .foto {
        position: relative;
        right: 60px;
    }
    .datos {
        position: inherit;
    }
    .mapa {
        width:auto;
    }
    
    .envios h4 {
        font-size: 25px;
    }
    .pagos {
     display: none;
    }
    .redes {
        margin: 20px;
    }
    .redes a {
       display: block;
    }
    .termino p {
        padding: 10px;
    }
    .nota {
        position: relative;
        left: 0px;
        top: 0px;
    }
    .float {
        height: 50px;
        width: 50px;
    }
    .fa-whatsapp {
        font-size: 50px;
    }
    .subir {
        height: 50px;
        width: 50px;
    }
    .fa-chevron-up {
        font-size: 50px;
    }
}